<nav class="navbar navbar-light  justify-content-between p-3" id="font" style="background: white">
  <a href="" routerLink="/home" class="p-3"> <i class="fa-solid fa-backward"></i></a>
  <div class="nav-item">
    <span class=" ">Tarjeta Credito</span>
    <hr>
  </div>
  <div class="nav-item">
    <a href="" routerLink="/createCard" class="float">
      <i class="fa-sharp fa-solid fa-plus"></i>
    </a>
  </div>
</nav>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true">Tarjetas de credito</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false">Activas</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
      role="tab" aria-controls="nav-contact" aria-selected="false">Inactivas</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <table class="table  table-hover table-responsive-md">
      <thead class="thead" style="color:blueviolet">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numero de cuenta</th>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo de cuenta</th>
          <th scope="col">Balance</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <th scope="row">{{card.id}}</th>
          <td>{{card.cardNumber}}</td>
          <td>{{card.userId}}</td>
          <td>{{card.cardType | cardPipe}}</td>
          <td>{{card.balance | currency : 'USD'}}</td>
          <td>{{card.status | userStatus}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square p-2" style="color:green" routerLink='/card/edit/{{card.id}}'></i>
            <i class="fa-solid fa-trash" style="color:red" (click)="Modal(card.id)"></i>
          </td>
          <td>
            <a routerLink="/card/details/{{card.id}}">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <table class="table  table-hover table-responsive-md">
      <thead class="thead" style="color:blueviolet">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numero de cuenta</th>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo de cuenta</th>
          <th scope="col">Balance</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let card of cards">
        <tr *ngIf="card.status == 1">
          <th scope="row">{{card.id}}</th>
          <td>{{card.cardNumber}}</td>
          <td>{{card.userId}}</td>
          <td>{{card.cardType | cardPipe}}</td>
          <td>{{card.balance | currency : 'USD'}}</td>
          <td>{{card.status | userStatus}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square p-2" style="color:green" routerLink='/card/edit/{{card.id}}'></i>
            <i class="fa-solid fa-trash" style="color:red" (click)="Modal(card.id)"></i>
          </td>
          <td>
            <a routerLink="/card/details/{{card.id}}">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <table class="table  table-hover table-responsive-md">
      <thead class="thead" style="color:blueviolet">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numero de cuenta</th>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo de cuenta</th>
          <th scope="col">Balance</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let card of cards">
        <tr *ngIf="card.status == 2">
          <th scope="row">{{card.id}}</th>
          <td>{{card.cardNumber}}</td>
          <td>{{card.userId}}</td>
          <td>{{card.cardType | cardPipe}}</td>
          <td>{{card.balance | currency : 'USD'}}</td>
          <td>{{card.status | userStatus}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square p-2" style="color:green" routerLink='/card/edit/{{card.id}}'></i>
            <i class="fa-solid fa-trash" style="color:red" (click)="Modal(card.id)"></i>
          </td>
          <td>
            <a routerLink="/card/details/{{card.id}}">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>