<div class="row">
  <div class="row">
    <div class="col-6 col-md-4">
      <i class="bi bi-rewind-fill" (click)="Location()"></i>
    </div>
    <div class="col">
      <h1 class="text-center p-3">Informacion usuario: <strong style="color: blueviolet">{{DateUser.firstName}}</strong> </h1>
    </div>
    </div>
  
  <div class="col-5">
    <img src="assets/img/info.png" alt="" class="img-fluid" alt="Responsive image" style="width:500px">
  </div>
  <div class="col-6">
    <form class="">
      <div class="row">
        <div class="col-6 col-md-4 ">
          <div class="input_div">
            <br>
            <span>Primer nombre </span>
            <p>{{DateUser.firstName}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="input_div input-group-prepend">
            <br>
            <div class="input_div">
              <span>Segundo nombre</span>
              <p>{{DateUser.lastName}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Correo electrónico </span>
            <p>{{DateUser.email}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Número telefónico </span>
            <p>{{DateUser.phoneNumber}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Id Number</span>
            <p>{{DateUser.idNumber}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Fecha de nacimiento </span>
            <p>{{DateUser.birthDate}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Estado</span>
            <p>{{DateUser.status | userStatus}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Calle </span>
            <p>{{DateUser.address.street}}</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <br>
          <div class="input_div">
            <span>Ciudad </span>
            <p>{{DateUser.address.city}}</p>
          </div>
        </div>
        <div class="col-8 col-md-6">
          <br>
          <div class="input_div">
            <span>Estado </span>
            <p>{{DateUser.address.state}}</p>
          </div>
        </div>
        <div class="col-8 col-md-6">
          <br>
          <div class="input_div">
            <span>Codigo Zip </span>
            <p>{{DateUser.address.zip}}</p>
          </div>
        </div>
        <br>
      </div>
    </form>
    <br> <br>
  </div>
</div>

