a i {
    cursor: pointer;
}

table, nav{
    font-size: 20px;
}

#font{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;

    i{
        font-size: 40px;
        color: #992cd4;
    }

    span{
        font-size: 50px;
        letter-spacing: 6px;
    }

   
}
